.product-detail {
    background-color: #FFC7C7;
    color: #3C2A21;
    border-radius: 7px;
}

.product-detail img {
    margin-top: .7rem;
    border-radius: 7px;
    width: 100%;
    height: 450px;
}

.product-detail .price {
    font-weight: bold;
}

 h2 {
    margin-top: 1rem;
    color: #3C2A21;
    font-weight: bold;
}

.img {
    border-radius: 7px;
}

.btn {
    color: #fff;
}

a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}

i {
    margin-right: .2rem;
}